/* ADMIN */
body {
    background-color: #000;
    font-family: 'Antique-Compact', 'Helvetica Neue', sans-serif;
}

#root {
    height: 100%;
    overflow: scroll;
}

#admin-container {
    width: 100%;
    height: 90%;
    /* position: absolute; */
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: inherit;
}

#admin-title-container {
    margin: 0 auto;
    max-width: 50vw;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#admin-title-container a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#admin-title-container a:hover {
    opacity: 0.75;
}

#admin-title-main {
    font-size: 6em;
}

#admin-title-sub {
    font-size: 2em;   
}

/* LOGIN */
.login-container {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.login-container .login-link {
    margin: 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.login-container #login-title {
    font-family: 'Antique-Compact', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}

.login-container #login-back {
    margin: 0;
    margin-top: 2em;
}

.login-container #login-back:hover {
    color: #ddd;
}

.login-form {
    border: 1px solid #fff;
    margin-top: 3em;
    padding: 2em;
}

/* ADMIN NAVBAR */
.admin-navbar-container {
    width: 100%;
    position: relative;
    background-color: #000;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    z-index: 2;
}

#admin-navbar-title {
    border-right: 1px solid #fff;
    padding-right: 1em;
}

#admin-navbar-title p {
    display: inline;
    margin-right: 0.5em;
    font-size: 2em;
}

#admin-navbar-nav {
    font-size: 1.5em;
}

.adminLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    top: 0px !important;
}

.nav-link {
    color: #fff;
    padding: 5px;
    padding-bottom: 0;
    margin-right: 1em;
    font-weight: bold;
    border: 0px;
}

.nav-link:hover, .nav-link:focus {
    color: #bbb !important;
}

.nav-link-button {
    background-color: #ffcf00;
    color: #000 !important;
    border-radius: 3px;
    max-width: 50%;
    padding-top: 0.2em;
    text-align: center;
    opacity: 1;
}

.nav-link-button:hover {
    color: #000 !important;
    opacity: 0.75;
}

.nav-link-button:focus {
    color: #000 !important;
    outline: none;
}

.navbar-collapse {
    margin-left: 25px;
}

.navbar-toggler:focus {
    outline: none;
}

/* VIDEO LIST */
#admin-list-container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* FORM */
.jumbotron {
    background-color: #000;
    border-radius: 0;
}

.jumbotron h2 {
    font-size: 2rem;
}

.form-control {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
}

.form-control:focus {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fff;
    outline: 0;
}

/* Input autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #000 inset !important;
}

/* Input autofill text color*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}

option { 
    background-color: #000;
}

.form-group h1 {
    font-size: 2rem;
}

.form-insert {
    margin-top: 0;
    border: 1px solid #fff;
    padding: 25px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.form-insert h1 {
    font-size: 2rem;
}

/* BUTTON */
button:focus {
    outline: none;
}

#logout-button {
    font-size: 0.8em;
}

#logout-button:focus {
    outline: none !important;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #fff !important;
}

.btn-primary:hover {
    color: #000;
    background-color: #fff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    box-shadow: none;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    box-shadow: none;
}

.btn-danger {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.btn-danger:hover {
    color: #fff;
    background-color: #000;
    border-color: #f00;
}

.alert {
    border-radius: 0;
}

/* VIDEO */
#video-insert-container {
    position: relative;
    height: 100%;
    /* top: 50%;
    transform: translate(0, -50%); */
}

#video-upload-container {
    position: relative;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

/* ADD */
#drop-area {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}

/* VIDEO DRAG AND DROP */
#video-dropzone-container {
    max-width: 100%;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

#video-dropzone:focus {
    outline: none;
}

#video-dropzone-container .dropzone {
    width: 70%;
}

#video-dropzone p {
    font-size: 1em;
}

/* UPDATE */
.updateLink {
    color: #ef9b0f;
}

.updateLink:hover {
    color: #ebcf9f;
    text-decoration: none;
}

/* DELETE */
.deleteLink {
    color: #ff0000;
}

.deleteLink:hover {
    color: rgb(255, 195, 195);
    text-decoration: none;
}

/* CATEGORY LIST */
#category-list-wrapper {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#category-list-container {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: auto;
    /* margin-top: 2em; */
    /* margin-top: 12vh; */
}

#category-list-container .row {
    height: 100%;
}

#category-list-container .align-items-center {
    height: 100%;
}

#category-list-title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0;
}

.category-list-section {
    margin: 0 auto;
    margin-top: 3vh;
    max-width: 800px;
    max-height: 1080px;
}

/* CATEGORY INSERT */
#category-insert-wrapper {
    margin-bottom: 1em;
}

#category-insert-container {
    margin: 0 auto;
    margin-top: 2em;
    width: 100%;
    max-width: 40vw;
}

#category-insert-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

.category-insert-section {
    margin-top: 2em;
}

/* CATEGORY NAME */
#category-insert-name label {
    font-size: 1.5em;
}

#category-insert-name input {
    font-size: 2em;
    border-radius: 3px;
}

/* CATEGORY COVER */
#category-insert-cover {
    /* height: 20vh; */
}

#category-cover-container {
    max-width: 100%;
    padding: 0;
    height: 20vh;
    text-align: center;
    /* margin-left: 5vw; */
}

#category-cover-container:focus {
    outline: none;
}

#category-cover-container p {
    font-size: 1em;
}

#category-cover-image {
    width: auto;
    max-width: 35%;
    max-height: 100%;
    float: left;
    border-radius: 3px;
}

/* CATEGORY DRAG AND DROP */
.dropzone {
    width: 50%;
    height: 100%;
    max-height: 20vh;
    min-height: 20vh;
    border: 1px dashed #fff;
    border-radius: 3px;
    padding: 1em;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    opacity: 1;
}

.dropzone:hover {
    opacity: 0.75;
    cursor: pointer;
}

.dropzone:focus {
    outline: none;
}

#category-cover-files {
    margin-top: 1em;
    height: 10vh;
    text-align: left;
}

#category-cover-files p {
    margin-bottom: 0.5em;
}

#category-cover-files ul {
    list-style: none;
    padding: 0;
    font-size: 0.8em;
}

/* CATEGORY URL */
#category-insert-url-visible label {
    font-size: 1.5em;
}

#category-url-input {
    width: 50%;
    margin-right: 2em;
    float: left;
    font-size: 1em;
    border: 1px dashed #fff;
    border-radius: 3px;
}

/* CATEGORY VISIBLE */
#category-visible-container {
    width: auto;
    display: inline-block;
}

.category-visible-checkbox {
    color: #fff !important;
    padding: 0 !important;
    margin-right: 0.5em !important;
}

.category-visible-checkbox svg {
    width: 1.5em !important;
    height: 1.5em !important;
}

#category-visible-label {
    margin-bottom: 0;
}

/* CATEGORY TOGGLE */
#category-insert-categories {
    height: auto;
}

#category-insert-categories .swiper-container {
    padding: 1em;
}

#category-insert-categories .swiper-wrapper {
    /* overflow-x: scroll; */
    /* display: inline; */
    margin-bottom: 2em;
}

#category-toggle-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1vh;
}

#category-insert-categories .swiper-slide {
    /* display: contents; */
    justify-content: center;
}

#category-insert-categories .swiper-slide .MuiFormControlLabel-root {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#category-insert-categories .swiper-button-prev  {
    transform: scale(0.5);
    position: relative;
    left: 0;
    bottom: 0;
}

#category-insert-categories .swiper-button-next  {
    transform: scale(0.5);
    position: relative;
    right: 0;
    bottom: 0;
    float: right;
}

#category-insert-categories .swiper-pagination {
    position: relative;
    bottom: -5px !important;
}

#category-insert-categories .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 0.4;
}

#category-insert-categories .swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1.0;
}

.category-switch-toggle label span {
    font-family: 'Antique-Compact', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

#category-insert-button-container {
    margin-top: 2em;
    text-align: center;
}

/* CATEGORY BUTTON */
#category-button-save {
    margin-right: 1em;
    /* width: 25%; */
    max-width: 125px;
    opacity: 1;
}

#category-button-save:hover {
    opacity: 0.75;
}

#category-button-delete {
    margin-right: 1em;
    max-width: 125px;
    opacity: 1;
}

#category-button-delete:hover {
    background-color: #f00;
    opacity: 0.75;
}

#category-button-cancel {
    max-width: 90px;
}

/* FOOTER */
#admin-container #footer {
    font-family: 'Antique-Compact', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-top: auto;
    margin-bottom: 1em;
}

/* SCROLLBAR */

/* Table Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#root::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* STRIPES  */
.stripes {
    position: fixed;
    width: 10px;
    height: 100vh;
    background-image: linear-gradient(45deg, #000000 25%, #ffd900 25%, #ffd900 50%, #000000 50%, #000000 75%, #ffd900 75%, #ffd900 100%);
    background-size: 56.57px 56.57px;
    z-index: 2;
}

.stripes-right {
    right: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 680px) {
    .jumbotron {
        margin-top: 50px;
    }

    .login-container {
        max-width: 300px;
    }

    #admin-title-container {
        max-width: none;
        width: 100%;
    }

    #admin-title-main {
        font-size: 4em;
    }

    #admin-title-sub {
        font-size: 1em;
    }

    #video-dropzone-container {
        font-size: 0.7em;
    }

    .category-insert-section {
        margin-top: 2em;
    }
    
    #category-insert-title {
        font-size: 2.5em;;
    }

    #category-cover-container p {
        font-size: 0.7em;
    }

    #category-cover-files ul {
        font-size: 0.7em;
    }

    #category-toggle-title {
        font-size: 1.3em;
    }

    #category-insert-categories .swiper-container {
        padding: 0;
    }

    #category-insert-button-container .btn {
        display: block;
        margin: 1em;
        margin-left: 0;
    }
}

@media screen and (max-height: 680px) {
    .login-form {
        margin-top: 20px;
    }

    .navbar {
        padding: 0;
    }

    .nav-link {
        padding: 0px;
        margin-bottom: 10px;
    }

    /* .form-insert {
        top: 16vh;
    } */

    .form-insert h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-height: 880px) {
    .categories-list {
        height: 100% !important;
    }
}

/* Small/Medium/Large devices (1024px and down) */
@media only screen and (max-width: 1024px) {
    #category-list-container {
        width: 80%;
        max-width: none;
        height: auto;
        margin-top: 0;
    }

    #category-insert-container {
        /* max-width: none;
        width: 80%; */
        max-width: 60vw;
    }
}

/* Small/Medium/Large devices (1200px and down) */
@media only screen and (max-width: 1200px) {
    .nav-link-button {
        background-color: transparent;
        color: #fff !important;
        border-radius: 0px;
        text-align: left;
    }

    .nav-link-button:hover {
        color: #fff !important;
    }
}

/* Small/Medium/Large devices (1300px and down) */
@media only screen and (max-width: 1300px) {
    #category-list-title {
        font-size: 3em;
    }

    #category-insert-title {
        font-size: 2.5em;
    }
}

/* Mobile landscape mode */
@media (orientation: landscape) and (max-device-width : 960px) {
    .jumbotron {
        margin-top: 0px;
        padding: 0;
    }

    .login-form {
        margin-top: 0px;
        display: none;
    }

    .update-form {
        margin: 0 auto;
        padding: 5px;
        top: -55px;
    }

    #admin-container #footer {
        display: none;
    }
}