/* APP */
.App {
  text-align: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-container {
  width: 80% !important;
  max-width: 1400px;
  position: relative;
  top: -15vh;
}

/* BANNER */
#banner-top {
  padding: 0;
}

#banner-title {
  position: relative;
  color: #dadada;
  margin-left: 5vw;
  margin-top: 2vh;
  font-size: 3.5em;
  opacity: 1;
}

#banner-title:focus {
  text-decoration: none;
}

#banner-info {
  margin-right: 5vw;
  margin-top: 2vh;
  opacity: 1;
}

#banner-info:hover {
  cursor: pointer;
}

#banner-info img {
  width: 4vw;
  height: auto;
  max-width: 30px;
  min-width: 20px;
}

#banner-close {
  display: none;
  position: relative;
  top: 10px;
  margin-right: 10vw;
  margin-top: 2vh;
  opacity: 0;
}

#banner-close:hover {
  cursor: pointer;
}

#banner-close img {
  width: 4vw;
  height: auto;
  max-width: 20px;
  min-width: 15px;
}

/* CONTACT */
#contact-container {
  display: none;
  font-family: 'Antique-Bold', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  position: relative;
}

#contact-text {
  max-width: 50%;
  margin: 0;
  float: left;
  text-align: left;
}

#contact-text h1 {
  font-size: 1.2em;
  margin-top: 0;
}

#contact-text p {
  position: relative;
  top: 1em;
  font-size: 0.7em;
  line-height: 2em;
}

#contact-text a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

#contact-form {
  max-width: 50%;
  margin: 0;
  position: relative;
  float: right;
  text-align: left;
  font-size: 0.8em;
}

#contact-form input, #contact-form textarea {
  background-color: #000;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 100%;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
}

#contact-form textarea {
  margin: 0;
  height: 20vh;
  font-size: 0.7em;
}

#contact-email {
  position: relative;
  top: 1.5em;
}

#contact-message {
  position: relative;
  top: 3em;
  display: block;
  margin: 0 auto;
}

#contact-button {
  position: relative;
  top: 6em;
  width: 25% !important;
  min-width: 80px;
  border: 1px solid #fff !important;
  font-size: 0.7em;
}

/* SWIPER */
.swiper-container { 
  width: 100%;
  margin-bottom: 2vh;
  opacity: 1;
}

.swiper-slide:hover {
  cursor: pointer;
}

.swiper-slide-image {
  width: 100%;
  height: auto;
}

.swiper-button-next {
  color: #fff !important;
}

.swiper-button-next:focus {
  text-decoration: none !important;
}

.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-prev:focus {
  text-decoration: none !important;
}

/* PLAYER */
#player-container {
  display: none;
}

#quarantine-logo {
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#quarantine-logo:hover {
  cursor: pointer;
}

#video-container {
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%, 0);
}

#video-player iframe {
  opacity: 0;
  display: inline;
}

#video-button-container {
  margin: 0 auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 15vh;
}

#video-button {
  background: rgba(255,255,255,0);
  border: 0;
}

#video-button:focus {
  outline:none;
}

#video-button-img {
  width: 100%;
  max-width: 164px;
  height: auto;
}

#views-container {
  position: relative;
  color: #fff;
}

#views-container p {
  float: left;
  font-size: 18px;
}

#views {
  margin-right: 10px;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-height: 768px) {
  #video-button-container {
    bottom: 25vh !important;
  }
}

@media only screen and (max-width: 600px) {
  #banner-top {
    margin-top: 2vh;
  }

  #banner-title {
    font-size: 3em;
    margin: 0 auto;
    left: 5%;
  }

  #banner-info {
    margin-left: 0 !important;
  }

  #contact-container {
    top: -10vh;
  }

  #contact-text {
    max-width: 100%;
    font-size: 1.5em;
  }

  #contact-text h1 {
    margin-bottom: 0;
  }

  #contact-text p {
    top: 1em;
    line-height: 1.5em;
  }

  #contact-form {
    max-width: 100%;
    top: 5vh;
  }

  #contact-form textarea {
    height: 10vh;
  }

  #contact-form button {
    top: 5em;
  }

  #logo-container {
    height: 80px;
  }

  #deuspi-visual {
    top: 0;
  }

  #video-button-container {
    bottom: 30vh;
  }
  
  #video-button-img {
    max-width: 124px;
  }
}

/* Mobile landscape mode */
@media (orientation: landscape) and (max-device-width : 960px) {
  #deuspi-visual {
    top: -5vh;
  }

  #video-button-container {
    display: none;
  }
}

/* Large screens height */
@media screen and (min-height: 960px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1366px and up) */
@media only screen and (min-width: 1366px) {

}

/* Extra large devices (large laptops and desktops, 1450px and up) */
@media only screen and (min-width: 1450px) {

}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {

}