.App {
  text-align: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-container {
  width: 80% !important;
  max-width: 1400px;
  position: relative;
  top: -15vh;
}

#banner-top {
  padding: 0;
}

#link-title {
  color: #dadada;
  margin-left: 5vw;
  margin-top: 2vh;
  font-size: 3.5em;
}

#link-title:focus {
  text-decoration: none;
}

#link-info {
  margin-right: 5vw;
  margin-top: 2vh;
}

#link-info img {
  width: 4vw;
  height: auto;
  max-width: 35px;
  min-width: 25px;
}

.swiper-container { 
  width: 100%; 
}

.swiper-slide:hover {
  cursor: pointer;
}

.swiper-slide-image {
  width: 100%;
  height: auto;
}

.swiper-button-next {
  color: #fff !important;
}

.swiper-button-next:focus {
  text-decoration: none !important;
}

.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-prev:focus {
  text-decoration: none !important;
}

#player-container {
  display: none;
}

#logo-container {
  opacity: 1;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 150px;
}

#quarantine-logo {
  width: 100%;
  max-width: 480px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#quarantine-logo:hover {
  cursor: pointer;
}

#deuspi-visual {
  width: 100%;
  max-width: 540px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#deuspi-visual:hover {
  cursor: pointer;
}

#video-container {
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%, 0);
}

#video-player iframe {
  opacity: 0;
  display: inline;
}

#video-button-container {
  margin: 0 auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 18vh;
}

#video-button {
  background: rgba(255,255,255,0);
  border: 0;
}

#video-button:focus {
  outline:none;
}

#video-button-img {
  width: 100%;
  max-width: 164px;
  height: auto;
}

#views-container {
  position: relative;
  color: #fff;
}

#views-container p {
  float: left;
  font-size: 18px;
}

#views {
  margin-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-height: 768px) {
  #video-button-container {
    bottom: 25vh !important;
  }
}

@media only screen and (max-width: 600px) {
  #logo-container {
    height: 80px;
  }

  #deuspi-visual {
    top: 0;
  }

  #video-button-container {
    bottom: 30vh;
  }
  
  #video-button-img {
    max-width: 124px;
  }  
}

/* Mobile landscape mode */
@media (orientation: landscape) and (max-device-width : 960px) {
  #deuspi-visual {
    top: -5vh;
  }

  #video-button-container {
    display: none;
  }
}

/* Large screens height */
@media screen and (min-height: 960px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1366px and up) */
@media only screen and (min-width: 1366px) {

}

/* Extra large devices (large laptops and desktops, 1450px and up) */
@media only screen and (min-width: 1450px) {

}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {

}